.home-background{
  background-color: #cececb;
  border-radius: 10px;
  
}
.nav{
  display:flex ;
  height: 50px;

}
.logo{
 
  height: 40px;
  width: 150px;
  
}
ul{
  display: inline-flex;
 list-style: none; 
 margin:1% ;
}
span{
  color:rgb(14, 246, 226);
}
li{
 padding: 6px;
 font-weight: bolder;
 font-family: "karla";
}
.Link{
  font-family: 'Roboto';
  text-decoration: none;
  color: #495E57;
  transition: transform 1s;
}
.Link:hover{
  transform: scale(1.1);
  
  background-color: #495E57;
  color: white;
  padding: 5px;
  border-radius: 20px;
}
.container{
  display: grid;
}
.banner{
  border-radius: 10px;
  background-color:#495E57;
  height: 20vh;
  width:90% ;
  padding: 5%;
}
.heading{
  padding-left: 7.5%;
  color: #F4CE14;
  font-family: 'Roboto';
  position: absolute;
  top: 10%;
}
.subheading{
  padding-left: 7.5%;
  color: white;
  font-family: "Markazi Text";
  position: absolute;
  top:14%;
}
.description{
  padding-left: 7.5%;
  font-size: large;
  width: 30%;
  color: white;
  font-family: "Markazi Text";
  position: absolute;
  top:19%;
}
.bannerImage{
  width: 300px;
  height: 270px;
  width: fit-content;
  position:absolute;
  right: 10%;
  top: 10%;
  border-radius: 10px;
}
.Reserve-btn{
  margin-left: 7.5%;
  position: absolute;
  top:31%;
  height: 55px;
  border-radius: 5px;
  background-color: #F4CE14;
  font-family: 'Roboto';
  color:black;
  font-weight: bold;
  border-color: #495E57;
  box-shadow: #F4CE14;
}
.Reserve-btn:hover{
  padding: 10px;
  background-color: #f0f0f0;
  color: blue;
  box-shadow: 3px 4px 13px #cececb;
}
.menu-section{
  display: flex;
  flex-wrap: wrap;
  
}
.heading2{
  padding-left: 5%;
  font-family: 'karla';
  font-size: 30px;
}
.menu-btn{
  margin-top: 2%;
  margin-left: 45%;
  height: 55px;
  border-radius: 5px;
  background-color: #F4CE14;
  font-family: 'Roboto';
  color:black;
  font-weight: bold;
  border-color: #495E57;
  box-shadow: #F4CE14;
}
.menu-btn:hover{
  
  background-color: #f0f0f0;
  color: blue;
  box-shadow: 3px 4px 13px #261ef7;
}
.card{
  margin: 5px;
  position: relative;
  margin-left: 7%;
  width: 264px;
  height: 439px;
  background-color: #f0f0f0;
  border-radius: 10px;
  transition: transform 1s;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 10px 10px 30px rgb(51, 53, 53);
}
.card img{
  width:264px;
  height: 185px;
  border-radius: 10px;
}
.card h3{
  font-family: "Markazi Text";
  font-size: 25px;
  margin-left: 6px;
}
.card h4{
  color: #EE9972;
  position: absolute;
  top :199px;
  right: 3%;
}
.card p{
  color: #495E57;
  font-family: 'Karla';
  margin: 5px;
}
.card h5{
  color: #333333;
  margin: 20px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Karla';
}
.card .bike{
  position: absolute;
  right: 0%;
  top:350px;
  width: 150px;
  height: 90px;
}
.form-component{
  padding-left: 30%;
  padding-top: 10%;
}
.background{
  height:150%;
  background-image: url("https://c0.wallpaperflare.com/preview/565/228/846/japanese-japan-restaurant-culture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,200px);
  padding: 12px;
  width: 500px;
  background-color: rgba(93, 98, 240, 0.9);
  
}
.label{
  font-family: "karla";
  font-size: 20px;
  font-weight: bold;
  
}
.error{
  
  text-align: center;
  height: fit-content;
  width: fit-content;
  margin: 0%;
  color: red;
  padding: 0;
}
.Book-btn{
  margin-top: 1%;
  margin-left: 20%;
  width: fit-content;
  height: 44px;
  border-radius: 22px;
  background-color: #2006cd;
  font-family: 'Roboto';
  color:rgb(255, 255, 255);
  font-weight: bold;
  border-color: none;
}
.Book-btn:hover{
  color: blue;
  background-color: white;
  border:2px solid black;
}

.disable-btn{
  margin-top: 1%;
  margin-left: 20%;
  width: fit-content;
  height: 44px;
  border-radius: 22px;
  background-color: rgba(73, 58, 173);
  font-family: 'Roboto';
  color:rgb(255, 255, 255);
  font-weight: bold;
  border-color: none;
}
.input{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  border:2px solid #495E57;
  font-weight: bold;
}
.input:hover{
  border: 2px solid rgb(67, 195, 195);
}
.gif{
  width: 300px;
  height: 300px;
}
.endPage{
  text-align: center;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  height: 100%;
}
.msg{
  border-radius: 16px;
  margin-left: 42%;
  width: 250px;
  background-color: #495E57;
  color: #F4CE14;
}
.msg h1,h2{
padding: 5px;
}
@media screen and (max-width: 600px ) {
  .logo{
 
    height: 30px;
    width: 100px;
    
  }
  .banner{
    height: 20vh;
    width:90% ;
    padding: 5%;
  }
  .nav{
    width: 320px ;
    display:inline-flex;
   overflow: scroll;
  }
  li{
    padding: 5px;
    font-weight: bolder;
    font-size: small;
   }
   .heading{
    font-size: small;
   }
   .subheading{
    font-size: small;
    position: absolute;
    top:12%;
   }
   .description{
    font-size: small;
    width: 40%;
    color: white;
    font-family: "Markazi Text";
    position: absolute;
    top:14%;
  }
  .bannerImage{
    width: fit-content;
    height: 20vh;
    width: fit-content;
    position: absolute;
    top: 10%;
  }
  .Reserve-btn{
    top:27vh;
    height: 25px;
  }
  
  .heading2{
    font-size: 15px;
  }
  .menu-btn{
    margin-left: 9%;
    height: 25px;
  }
  .label{
    font-size: 20px;
  }
  .form-component{
    padding-left: 2%;
    padding-top: 10%;
    
  }
  .form-container{
    display: grid;
    grid-gap: 10px;
  grid-template-columns: repeat(1,200px);
  width: 250px;
 
  }
 
  .msg{
    margin:auto;
  }
}